@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: rgb(0, 0, 0);
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 8px;
}

.primeira-section {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 2px;
  height: 160px;
  width: 90%;
  color: rgb(251, 250, 248);
  border: 2px solid;
}

.text1 {
  margin-top: 20px;
  height: 30px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: white;
}

.img2 {
  height: 90px;
  width: 100%;
  margin-top: 40px;
  border-radius: 10px;
  border: 1px solid transparent;
  display: flex;
}

.img2:hover {
  border: 1px solid rgba(128, 128, 128, 0.568);
}

.nome {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 6px;
}

.plus {
  height: 50px;
  width: 52%;
  padding: 19px;
  margin-top: 53px;
  margin-left: 11px;
  border-radius: 10px;
  border: 1px solid transparent;
  display: flex;
  background-color: rgba(51, 49, 49, 0.689);
  font-size: 12px;
}

.plus:hover {
  border: 1px solid rgba(128, 128, 128, 0.568);
  background-color: rgba(51, 49, 49, 0.689);
}

.span1 {
  margin: 8px;
  padding: 5px;
  width: 90px;
  height: 80px;
}

.nome1 {
  font-size: 11px;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.segunda-section {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-top: 60px;
}

.button {
  height: 70%;
  width: 150px;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  background-color: black;
  padding: 10px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.656);
  color: black;
}
